{% extends "app/layout.html" %}

{% block content %}

<h2 class="center_block ">{{ title }}</h2>
<h3>{{ message }}</h3></br>

<p> 
    Сайт создан с целью высказывания лично-субъективного мнения автора и некоторых причастных лиц.
    На сайте имеются полезные ссылки и мысли о вещах, связанных с музыкой и творчеством.
    Поощряется комментирование статей блога и критика. В будущем планируется сюда выкладывать 
    и своё личное творчество. Никакой комерции, просто разговоры подушам.
    "От людей для людей".</br>
</p>

{% endblock %}
