{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MyMusicWorld</h1>
    <p class="lead">Мысли и факты о рок/метал музыке.</p>
    <p><a href="https://www.youtube.com/channel/UCRZoK7sezr5KRjk7BBjmH6w" class="btn btn-primary btn-large">Слушать на фоне &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начнем</h2>
        <p>
            Список многих групп может не кончаться Metallica,Slayer,
            Motorhead,Slipknor,Korn,Megadeth,Sistem of a down,PowerWolf,
            Dream Theator,Rammstein...Beatles?
            Знать всех невозможно, но важен путь, история.
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D0%BA-%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0">Краткая история &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Больше, больше...</h2>
        <p>
            Знать легенд жанра не обязательно совсем,
            но признать что они есть надо, хотя у каждого могут быть свои.
            Легендой для меня стала Большая четверка треша или просто "Big Four".
        </p>
        <div>
            <p><a class="btn btn-default" href="https://www.metallica.com/">Metallica &raquo;</a>
            <a class="btn btn-default" href="https://www.slayer.net/">Slayer &raquo;</a></p>
            <p><a class="btn btn-default" href="https://anthrax.com/">Anthrax &raquo;</a>
            <a class="btn btn-default" href="https://megadeth.com/">Megadeth &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Музыка как она есть</h2>
        <p>Многим хотелось взять в руки инструмент и сыграть что-то из музыки любимой группы. В наше время доступ к информации сильно упростился, но я могу упростить его еще больше...</p>
        <p><a class="btn btn-default" href="https://www.songsterr.com/">Сайт с табулатурой &raquo;</a></p>
    </div>
</div>

{% endblock %}
